.result-message {
    height:30px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

li {
    margin-top: 5px;
}

.add-button {
    background-color: white;
    border-color: orange; 
}

.countries-list {
    background-color: white;
    padding: 20px;
    height: 100%;
}