
<html>
    <head>
        <title>Task 4</title>
        <meta charset="utf-8">
        <script src="/js/vue_prod.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body id="bla">
        <div id="main" class="container" >
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 countries-list text-center" style="">
                    <div id='result' class="result-message">
                        <transition name="fade">
                            <p v-if="showResult">{{ result }}</p>
                        </transition>
                    </div>
                    <input v-model.trim="country" class="" type="text" name="country"/>
                    <button id='addButton' v-on:click="AddCountry" class="add-button btn">Add</button>
                    <ol>
                        <li v-for="country in arCountries">
                            {{ country }}
                        </li>
                    </ol>
                </div>
                <div class="col-3"></div>
            </div>
            
        </div>
        <script type="text/javascript" src="/js/funcs.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>